.normal{
    color: gray;
}

.fire{
    color: orange;
}

.water{
    color: blue;
}

.grass{
    color: green;
}

.electric{
    color: yellow;
}

.ice{
    color: lightblue;
}

.fighting{
    color: red;
}

.poison{
    color: purple;
}

.ground{
    color: burlywood;
}

.flying{
    color: lightskyblue;
}

.psychic{
    color: violet;
}

.bug{
    color: greenyellow;
}

.rock{
    color: #a8a878;
}

.ghost{
    color: #705898;
}

.dark{
    color: rgb(19, 15, 15);
}

.dragon{
    color: darkslateblue;
}

.steel{
    color: slategray;
}

.fairy{
    color: pink;
}

.normal-b{
    background: gray;
}

.fire-b{
    background: rgb(197, 137, 27);
}

.water-b{
    background: rgb(28, 28, 117);
}

.grass-b{
    background: rgb(39, 169, 39);
}

.electric-b{
    background: rgb(214, 211, 20);
}

.ice-b{
    background: rgb(158, 193, 205);
}

.fighting-b{
    background: rgb(169, 79, 79);
}

.poison-b{
    background: rgb(87, 10, 87);
}

.ground-b{
    background: burlywood;
}

.flying-b{
    background: lightskyblue;
}

.psychic-b{
    background: violet;
}

.bug-b{
    background: greenyellow;
}

.rock-b{
    background: #a8a878;
}

.ghost-b{
    background: #705898;
}

.dark-b{
    background: rgb(56, 53, 53);
}

.dragon-b{
    background: darkslateblue;
}

.steel-b{
    background: slategray;
}

.fairy-b{
    background: pink;
}

/* .hp{
    background-color: lightyellow;
}

.attack{
    background-color: lightcoral;
}

.defense{
    background-color: lightblue;
}

.special-attack{
    background-color: indianred;
}

.special-defense{
    background-color: lightskyblue;
}

.speed{
    background-color: lightgoldenrodyellow;
} */